body {
    background-color: cadetblue;
}
marquee {
    font-size: 50px;
    color: white;
}
.tasbeeh {
    background-color:chartreuse;
    color:darkgreen;

}
.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: aliceblue;
}
